@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,500&family=Nunito:ital,wght@0,500;1,500&family=Poppins:wght@500&family=Roboto+Slab:wght@500&family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&family=Montserrat:wght@500&family=Nunito+Sans:opsz,wght@6..12,500&family=Nunito:ital,wght@0,500;1,500&family=Poppins:wght@500&family=Roboto+Slab:wght@500&family=Rufina:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    background-color: #C2EED3;
}

.navbar ul {
    display: flex;
    list-style: none;
    transform: translate(400px, 0px);
}

.navbar ul li {
    margin: 45px 20px 20px 20px;
    font-family: sans-serif;
    font-size: 15px;

}

.navbar i {
    position: absolute;
    top: 40px;
    right: 300px;
    font-size: 25px;
}

.navbar button {
    width: 120px;
    height: 35px;
    border: solid 3px#234F34;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    top: 8px;
    right: 140px;
    color: #234F34;
}

.navbar button:hover {
    width: 126px;
    height: 41px;
    position: absolute;
    top: 5px;
    right: 137px;
    background-color: #5ab77f;
    transition: 0.1s;
    font-weight: 900;

}

.navbar h1 {
    transform: translate(150px, 40px);
    font-weight: 900;
    font-size: 30px;
}

.wrapper {
    width: 100%;
    height: 85vh;
    display: flex;
    background-color: #C2EED3;
}

.wrapper .main-section {
    width: 50%;
    height: 85vh;
}

.main-section h1 {
    transform: translate(150px, 80px);
    color: #234F34;
    font-size: 50px;
    font-family: sans-serif;
}

.wrappe-h1 {
    width: 350px;
    height: 200px;
}

.wrapper-p {
    transform: translate(150px, 80px);
    width: 350px;
    height: 150px;
}

.main-section button {
    width: 140px;
    height: 50px;
    background-color: #224E33;
    color: beige;
    transform: translate(150px, 50px);
    box-shadow: 2px 2px 10px 4px black;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

.main-section button:hover {
    transform: translate(148px, 48px);
    width: 144px;
    height: 54px;
    background-color: #fff;
    font-size: 20px;
    color: #224E33;
    transition: 2s;
    font-weight: 600;
}


button p {
    font-family: sans-serif;
}

.girl {
    width: 50%;
    height: 85vh;
}


.girl img {
    transform: translate(150px, 50px);
    width: 350px;
    height: 430px;
    border-radius: 100px 40px;
    box-shadow: 10px 10px 10px;
}

.girl img:hover {
    transform: translate(148px, 48px);
    transition: 1s;
    width: 354px;
    height: 434px;
    border-radius: 100px 40px;
    box-shadow: 10px 10px 10px;
}

/* section 2 */

.section2 {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container .assistant4 ul li{
    display: inline-block;
    margin: 20px;
    font-family: sans-serif;
}

.section2 h1 {
    font-family: sans-serif;
    margin-top: 80px;
    font-size: 50px;
    color: #224F34;
}

.section2 h3 {
    margin-top: 30px;
    font-family: sans-serif;
}

.container .seeall:hover{
background-color: rgb(9, 110, 9);
color: white;
font-weight: 700;
border: none;
position: relative;
animation-name: example;
animation-duration: 2s;
cursor:pointer;
}
@keyframes example{
    0%{width: 200px;}
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:-30px; top:0px;}
    50%  {background-color:blue; left:0px; top:0px;}
    100% {background-color:red; left:20px; top:0px;}
     75%  {background-color:green; left:20px;}
  }

card-wrapper {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 80px;
    margin-top: 70px;
}

.section2 .Textured {
    margin-top: 50px;
}

.summa {
    margin-top: 10px;
    font-size: 20px;
}

.card1 {
    width: 30%;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
}

.card1 img {
    width: 100%;
    height: 410px;
    background-color: #93B9A2;
}

.card2 {
    width: 30%;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card2 img {
    width: 100%;
    height: 410px;
    background-color: #93B9A2;
}

.card3 {
    width: 30%;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
}

.card3 img {
    width: 100%;
    height: 410px;
    background-color: #CADCD0;
}

button {
    width: 180px;
    height: 50px;
    border: solid 2px #224F34;
    font-size: 20px;
    margin-top: 30px;
}

/* section 3 */
/* section 3 */
/* section 3 */
/* section 3 */

.section3 {
    width: 100%;
    height: 2100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 h1 {
    margin-top: 110px;
    color: #224F34;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 45px;
}

.section3 .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    margin-top: 30px;
    background-color: #fff;
}

.section3 .navbar ul li {
    margin: 35px;
    position: relative;
    left: -410px;
}

.section3 card-wrapper {
    width: 100%;
    height: 550px;
    position: relative;
    top: -50px;
}

.section3 card-wrapper .card1 {
    width: 320px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.section3 card-wrapper .Textured {
    margin-top: 30px;
}

.section3 card-wrapper .card1 img {
    width: 100%;
    height: 380px;
    background-color: #93B9A2;
}

.section3 card-wrapper .card2 {
    width: 320px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.section3 card-wrapper .card2 img {
    width: 100%;
    height: 380px;
    background-color: #93B9A2;
}

.section3 card-wrapper .card3 {
    width: 320px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.section3 card-wrapper .card3 img {
    width: 100%;
    height: 380px;
    background-color: #CADCD0;
}

.section3 card-wrapper .card4 {
    width: 320px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.section3 card-wrapper .card4 img {
    width: 100%;
    height: 380px;
    background-color: #CADCD0;
}

/* wrapper2  start wrapper start */
/* wrapper2  start  wrapper*/

.section3 .card-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 550px;
    padding: 0px 80px;
}

.section3 .card-wrapper .card1 {
    width: 320px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.section3 .card-wrapper .Textured {
    margin-top: 30px;
}

.section3 .card-wrapper .card1 img {
    width: 100%;
    height: 380px;
    background-color: #93B9A2;
}

.section3 .card-wrapper .card2 {
    width: 320px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.section3 .card-wrapper .card2 img {
    width: 100%;
    height: 380px;
    background-color: #93B9A2;
}

.section3 .card-wrapper .card3 {
    width: 320px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.section3 .card-wrapper .card3 img {
    width: 100%;
    height: 380px;
    background-color: #CADCD0;
}

.section3 .card-wrapper .card4 {
    width: 320px;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.section3 .card-wrapper .card4 img {
    width: 100%;
    height: 380px;
    background-color: #CADCD0;
}

/* big-card big-card */
/* big-card big-card */
/* big-card big-card */

.section3 .big-card {
    width: 90%;
    height: 450px;
    display: flex;
    margin-top: 100px;

}

.section3 .big-card img {
    width: 40%;
    height: 450px;
}

.section3 .big-card .right-block {
    width: 60%;
    height: 450px;
    background-color: #C1EED3;
}

.section3 .big-card .right-block h1 {
    color: #224E33;
    margin-top: 50px;
    margin-left: 80px;
}

.section3 .big-card .right-block .wrapper-p-text {
    width: 450px;
    height: 70px;
    margin-top: 20px;
    margin-left: 80px;
}

.section3 .big-card .right-block .wrapper-p-text p {
    font-size: 18px;
    font-family: sans-serif;
}

.section3 .big-card .right-block .wrapper-card-time {
    width: 400px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-left: 28px;
    padding: 0px 40px;

}

.section3 .big-card .right-block .wrapper-card-time .card {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

.section3 .big-card .right-block .wrapper-card-time .card p {
    transform: translate(0px, -15px);
    color: #224E33;
}

.section3 .big-card .right-block .wrapper-card-time .card h2 {
    color: #194b2d;
    font-family: sans-serif;
}

.section3 .big-card .right-block button {
    width: 180px;
    height: 50px;
    background-color: #224E33;
    transform: translate(80px, -10px);
    border-radius: 3px;
}

.section3 .big-card .right-block button h3 {
    font-size: 16px;
    color: #fff;
}

/* .section4 */
/* .section4 */
/* .section4 */

.section4 {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0px;
    font-family: sans-serif;
}

.card-wrappers4 {
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 80px;
    margin-top: 70px;
}

.section4 h1 {
    font-family: sans-serif;
    margin-top: 80px;
    font-size: 40px;
    color: #224F34;
}

.section4 p {
    margin-top: 30px;
    font-family: sans-serif;
}

.container .section4 .card-wrappers4 .assistant {
    display: inline;
}

.container .section4 .card-wrappers4 .assistant span {
    display: none;
}

.section4 .card-wrappers4 .Textured {
    margin-top: 50px;
}

.section4 .card-wrappers4 .summa {
    margin-top: 10px;
    font-size: 20px;
}

.section4 .card-wrappers4 .card1 {
    width: 30%;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
}

.section4 .card-wrappers4 .card1 img {
    width: 100%;
    height: 410px;
    background-color: #93B9A2;
}

.section4 .card-wrappers4 .card2 {
    width: 30%;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4 .card-wrappers4 .card2 img {
    width: 100%;
    height: 410px;
    background-color: #93B9A2;
}

.section4 .card-wrappers4 .card3 {
    width: 30%;
    height: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
}

.section4 .card-wrappers4 .card3 img {
    width: 100%;
    height: 410px;
    background-color: #CADCD0;
}

/* section5 section5 section5
section5 section5 section5 */
/* section5 section5 section5
section5 section5 section5 */

.section5 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #194b2d;
}

.section5 .sec5-h1 {
    font-size: 35px;
    font-family: sans-serif;
    margin-top: 150px;
}

.section5 .wrapper-text-bloock {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 70px;
    margin-top: 50px;
}

.section5 .text-block {
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 20px;
    border-radius: 3px;
}

.section5 .block2 {
    background-color: #C2EED3;
}

/* carusel carusel carusel
carusel carusel carusel
carusel carusel carusel */

.container .carusel {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translate(520px, 0px);
}

.container .carusel h1 {
    background-color: white;
    padding: 2px 10px;
    border-radius: 50%;
}

.container .carusel h1:hover {
    transition: 1s;
    background-color: #C2EED3;
    padding: 2px 10px;
    border-radius: 50%;
}

.container .carusel .carusel-left {
    background-color: white;
}

.container .carusel .carusel-left:hover {
    background-color: #C2EED3;
}

/* footer footer footer 
footer footer footer  */

footer {
    width: 100%;
    height: 450px;
    background-color: #224F34;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}

footer .wrapper {
    width: 100%;
    height: 350px;
    background-color: #224F34;
    display: flex;
    flex-direction: row;
}

footer .wrapper .wrap123block {
    display: flex;
}

footer .block1 {
    width: 200px;
    height: 160px;
    background-color: none;
    margin-left: 150px;
    margin-top: 50px;
}

footer .block1 h1 {
    font-size: 45px;
    margin-left: 8px;
}

footer .block1 p {
    margin-top: 20px;
    font-size: 20px;
}

footer .block1 i {
    font-size: 30px;
    margin: 8px;
    margin-top: 20px;
}

footer .block2 {
    width: 150px;
    height: 200px;
    margin-top: 60px;
}

footer .block2 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer .block2 ul li {
    margin: 10px;
}

footer .block2 ul li {
    font-weight: 900;
}

footer .block3 {
    width: 150px;
    height: 200px;
    margin-top: 60px;

}

footer .block3 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer .block3 ul li {
    margin: 10px;
}

footer .block3 ul li {
    font-weight: 900;
}

footer .block4 {
    margin-top: 70px;
    width: 400px;
    height: 150px;
    margin-left: 110px;
}

footer .block4 h1 {
    font-weight: 900;
    font-size: 20px;
}

footer .block4 input {
    margin-top: 50px;
    padding-left: 15px;
    width: 250px;
    height: 40px;
    background-color: #224F34;
    border: solid 2px #A3F3BE;
}

footer .block4 .knopka {
    transform: translate(-5px, 2.5px);
    width: 100px;
    height: 40px;
    background-color: #A3F3BE;
    border: solid 2px #A3F3BE;

}

footer .block5 {
    width: 80%;
    height: 100px;
    background-color: #224F34;
    display: flex;

}

footer .block5 hr {
    margin-left: 20px;
    margin-top: 40px;
    width: 700px;
    height: 2px;
    background-color: #fff;
}

footer .block5 ul {
    display: flex;
    list-style: none;
    margin-left: 80px;
    margin-top: 30px;
}

footer .block5 .Privacy {
    margin: 0px 30px;
}


@media only screen and (max-width:576px) {
    .container {
        width: 100%;
        min-height: 100vh;
        position: relative;
    }

    /* section1 start  section1 start section1 start*/
    /* section1 start  section1 start section1 start*/
    .container .section1 {
        background-color: #C2EED3;
        width: 100%;
        height: 1080px;
    }

    .container .navbar {
        width: 90%;
        margin: 0px auto;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0px;
        background-color: transparent;
        background-image: linear-gradient(white 20%, #C2EED3);
    }

    .container .section1 .navbar h1 {
        margin: 0;
        padding: 0;
        font-size: 35px;
        transform: translate(0px, 0px);
    }

    .container .section1 .navbar i {
        margin: 0;
        padding: 0;
        transform: translate(105px, 5px);
    }

    .container .section1 .navbar button {
        width: 142px;
        height: 40px;
        border: 3px solid black;
        border-radius: 15px;
        background-color: transparent;
        position: relative;
        left: 0px;
        transform: translate(0px, 0px);
        transition: none;
        margin: 0px;
    }

    .container .navbar ul {
        display: none;
    }

    .container .section1 .wrapper {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;
        background-image: linear-gradient(#C2EED3 95%, white);

    }

    .container .wrapper .main-section {
        width: 100%;
        height: 300px;
        transform: translate(0px, 0px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0px;
    }

    .container .section1 .wrapper .wrappe-h1 {
        width: 100%;
        height: 80px;
        transform: translate(0px, 0px);
    }

    .container .section1 .wrapper .wrappe-h1 h1 {
        font-size: 35px;
        margin: 0px;
        padding: 0px;
        transform: translate(0px, 0px);
        text-align: center;
        color: #264D2C;
    }

    .container .section1 .wrapper .wrapper-p {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 50%;
        height: 0px;
        font-weight: 600;
        font-size: 20px;
        transform: translate(-100px, 0px);
    }

    .container .section1 .wrapper .wrapper-p p {
        transform: translate(0px, 0px);
        display: inline-block;
    }

    .container .section1 .wrapper .wrapper-p br {
        display: none;
    }

    .container .wrapper .main-section button {
        margin: 0;
        padding: 0;
        transform: translate(190px, 20px);
        border-radius: 15px;
        background-color: #5BA971;
        font-weight: 600;
        color: #224E33;
        box-shadow: 4px 4px 10px;
    }

    .container .girl {
        width: 100%;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .container .girl img {
        transform: translate(0px, 0px);
        width: 420px;
        height: 520px;
        border-radius: 200px 0px;
        box-shadow: 4px 4px 10px;
        background-color: transparent;
    }

    /* section2 section2 section2 section2 */
    /* section2 section2 section2 section2 */
    .container .section2 {
        width: 100%;
        height: 2500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .section2 h3 {
        transform: translate(0px, 0px);
        margin: 0;
        padding: 0;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        width: 100%;
        font-size: 25px;
        text-align: center;
        color: #1CA522;
        box-shadow: 4px 4px 20px black;
        border-radius: 15px;
        font-weight: 500;
    }

    .container .section2 card-wrapper {
        width: 100%;
        height: 2500px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(white 10%, #54df89 50%, white 70%);
    }

    .container .section2 card-wrapper .card123 {
        width: 100%;
        height: 500px;
        margin: 100px;
    }

    .container .section2 card-wrapper .card123 img {
        width: 100%;
        height: 500px;
        border-radius: 50%;
    }

    .container .section2 button {
        text-shadow: 0px 0px 5px rgb(72, 255, 5);
        border-radius: 15px;
        margin: 0px;
        padding: 0px;
        transform: translate(0px, 0px);
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /* section3 section3 section3 section3 section3 */
    /* section3 section3 section3 section3 section3 */

    .container .section3 {
        width: 100%;
        height: 6000px;
    }

    .container .section3 h1 {
        color: black;
    }

    .container .section3 .navbar {
        display: none;
    }

    .container .section3 card-wrapper {
        width: 100%;
        height: 2300px;
        display: flex;
        flex-direction: column;
    }

    .container .section3 .card-wrapper {
        width: 100%;
        height: 10000px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .container .section3 .card-wrapper .card1 {
        float: inline-start !important;

    }

    .container .section3 .big-card {
        width: 100%;
        height: 5000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(#CDCDCD 97%, white);

    }

    .container .section3 .big-card img {
        width: 80%;
        height: 500px;
        position: relative;
        top: 550px;
        border-radius: 10px;
    }

    .container .section3 .big-card .right-block {
        width: 100%;
        height: 500px;
        position: relative;
        top: -500px;
        background-image: linear-gradient(#33CCB7 90%, #CDCDCD);
    }

    .container .section3 .big-card .right-block .wrapper-p-text {
        width: 60%;
    }

    .container .section3 .big-card .right-block .wrapper-card-time {
        transform: rotate(90deg);
        float: right;
        position: relative;
        top: -12px;
        left: 120px;
    }

    .container .section3 .big-card .right-block .wrapper-card-time .card {
        transform: rotate(-90deg);
    }

    /* section4 section4 section4 section4 section4 */
    /* section4 section4 section4 section4 section4 */

    .container .section4 {
        width: 100%;
        height: 2000px;
    }

    .container .section4 h1 {
        color: black;
    }

    .container .section4 .immerse {
        display: none;
    }

    .container .section4 .wrapperss4 {
        width: 100%;
        height: 2000px;
        display: flex;
        flex-direction: column;
    }

    .container .section4 .wrapperss4 .card1 {
        width: 140%;
        height: 560px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-direction: row-reverse;
        padding: 0px 10px;
    }

    .container .section4 .wrapperss4 .card2 {
        width: 140%;
        height: 560px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        padding: 0px 10px;
    }

    .container .section4 .wrapperss4 .card3 {
        width: 140%;
        height: 560px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-direction: row-reverse;
        padding: 0px 10px;
    }

    .container .section4 .wrapperss4 .assistant {
        height: 410px;
    }

    .container .section4 .wrapperss4 .assistant span {
        display: inline-block;
    }


    .container .section4 .wrapperss4 img {
        width: 50%;
        border-radius: 10px;
    }

    /* section5 section5 section5 section5 section5 */
    /* section5 section5 section5 section5 section5 */
    .container .section5 {
        width: 100%;
        height: 600px;
    }

    .container .section5 h1 {
        margin-bottom: 30px;
    }

    .container .section5 .wrapper-text-bloock h2 {
        display: none;
    }

    .container .section5 .wrapper-text-bloock .block2 {
        background-color: transparent;

    }

    /* footer footer footer footer footer */
    /* footer footer footer footer footer */
    .container .carusel {
        display: none;
    }

    .container footer {
        width: 100%;
        height: 450px;
    }

    .container footer .wrapper {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .container footer .wrapper .wrap123block {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container footer .wrapper .wrap123block .block1,
    .block2,
    .block3 {
        width: 160px;
        height: 150px;
        margin: 0;
    }

    .container footer .wrapper .block4 {
        width: 65%;
        height: 100px;
        margin: 0px;
    }

    .container footer .wrapper .block4 h1 {
        display: none;
    }

    .container footer .block5 {
        width: 100%;
        height: 5px;
    }

    .container footer .block5 hr {
        width: 526px;
        height: 2px;
        background-color: white;
        margin-top: 0px;
        margin-left: 20px;
        transform: translate(0px, -30px);
    }

    .container footer .block5 ul {
        display: none;
    }
}

@media only screen and (max-width:376px) {
    .container {
        width: 100%;
        height: 5000px;
        border: red solid 1.5px;
        background-color: #C2EFD4;
        position: relative;
        overflow-x: scroll;
    }

    .container .section1 .navbar {
        width: 100%;
        height: 15vh;
        color: #224F34;
        font-family: sans-serif;

    }

    .container .section1 .navbar h1 {
        font-weight: 600;
        transform: translate(20px, 0px);
        color: #267144;
        font-family: Montserrat;
    }

    .container .section1 .navbar button {
        width: 60px;
        height: 40px;
        color: #224F34;
        border: #224F34 solid 3px;
        border-radius: 6px;
        transform: translate(-20px, -10px);
        font-size: 15px;
    }

    .container .section1 .navbar button:hover {
        width: 60px;
        height: 40px;
        color: #224F34;
        border: #224F34 solid 3px;
        border-radius: 6px;
        transform: translate(-20px, -10px);
        font-size: 15px;
    }

    .container .section1 .navbar i {
        transform: translate(0px, 0px);
        position: relative;
        right: -55px;
        top: 0px;
        font-size: 30px;
    }

    .container .section1 {
        width: 100%;
        height: 900px;
        display: flex;
        flex-direction: column;
    }

    .container .section1 .wrapper {
        width: 100%;
        height: 0px;
        height: 650px;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 35px;
        transform: translate(0px, 0px);
    }

    .container .section1 .wrapper .main-section {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container .section1 .wrapper .main-section .wrappe-h1 {
        width: 100%;
        height: 15vh;
        margin: 60px 0px 0px 0px;
    }

    .container .section1 .wrapper .main-section .wrappe-h1 h1 {
        font-size: 35px;
        font-family: normal;
        color: #224F34;
    }

    .container .section1 .wrapper .main-section .wrapper-p {
        width: 90%;
        height: 15vh;
        transform: translate(0px, 0px);
        margin: 30px 0px 0px 0px;
        font-family: Poppins;
        color: #157a1a;
        line-height: 35px;
        font-size: 15px;
    }

    .container .section1 .wrapper .main-section button {
        transform: translate(0px, 0px);
        margin-top: 80px;
        background-color: #224F34;
        color: white;
        border-radius: 5px;
        font-size: 15px;
        width: 200px;
        height: 50px;
    }

    .container .section1 .wrapper .girl {
        width: 100%;
        height: 75vh;
        margin-top: 150px;
    }

    .container .section1 .wrapper img {
        width: 80%;
        height: 70vh;
        border-radius: 20px 10px;
        box-shadow: none;
    }

    .container .section2 {
        width: 100%;
        height: 1600px;
        margin: 0px;
        padding: 0;
    }

    .container .section2 h1 {
        font-size: 35px;
        font-family: "Roboto Slab", sans-serif;
    }

    .container .section2 h3 {
        box-shadow: none;
        color: #194b2d;
        font-size: 17px;
        font-weight: 100;
        font-family: Poppins;
        margin-top: 30px;
    }

    .container .section2 card-wrapper {
        width: 100%;
        height: 1200px !important;
        background-image: none;
        margin: 30px;
    }

    .container .section2 card-wrapper .card123 {
        border-radius: 0px;
        width: 250px;
        height: 410px;
        margin: 0px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #93B9A2;
    }

    .container .section2 card-wrapper .card3 {
        background-color: #CADCD0;
    }

    .container .section2 card-wrapper .card123 .summa {
        margin: 0;
        font-family: Poppins;
        font-size: 16px;
    }

    .container .section2 card-wrapper .card123 .Textured {
        border-radius: 0px;
        box-shadow: none;
        color: black;
        font-size: 16px;
        margin: 0;
        font-family: Poppins;
    }

    .container button {
        width: 200px;
        height: 50px;
        border: solid 2px #224F34;
        border-radius: 0px !important;
        background-color: transparent;
        font-family: "Montserrat" sans-serif;
        text-shadow: none !important;
        font-size: 25px;
        margin-top: 80px !important;
    }

    .container .section2 card-wrapper .card123 img {
        border-radius: 0px;
        width: 250px;
        height: 300px;
    }

    .container .section3 {
        width: 100%;
        height: 2950px;
    }

    .container .section3 .card-wrapper {
        width: 100%;
        height: 800px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
    }

    .container .section3 card-wrapper .Textured {
        margin: 0;
        font-size: 15px;
    }

    .container .section3 card-wrapper .summa {
        margin: 0;
    }

    .container .section3 card-wrapper .card1234 {
        width: 45%;
        height: 300px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    .container .section3 .card-wrapper .Textured {
        margin: 0;
        font-size: 15px;
    }

    .container .section3 .card-wrapper .summa {
        margin: 0;
    }

    .container .section3 .card-wrapper .card1234 {
        width: 45%;
        height: 300px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container .section3 h1 {
        color: #194b2d;
    }

    .container .section3 .assistant4 {
        display: inline-block;
        background-image: none;
    }

    .container .section3 .assistant4 ul {
        width: 100%;
        padding: 0px 5px;
        display: flex;
        margin: 0;
        transform: translate(0px, 0px);
        color: #194b2d;
        list-style-type: none;
        margin-top: 70px;
    }

    .container .section3 .assistant4 ul li {
        margin: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
    }

    .container .section3 .big-card {
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
        background-image: none;
        justify-content: space-around;

    }

    .container .section3 .big-card .right-block {
        width: 100%;
        height: 450px;
        background-image: none;
        position: relative;
        top: 0px;
        color: #194b2d;
    }

    .container .section3 .big-card .right-block h1 {
        width: 100%;
        text-align: center;
        margin: 0px;
    }

    .container .section3 .big-card .right-block button {
        margin: 0;
        transform: translate(90px, -55px);
    }

    .container .section3 .big-card .right-block .wrapper-p-text {
        width: 100%;
        height: 200px;
        margin: 0;
        text-align: center;
        padding: 0px 30px;
    }

    .container .section3 .big-card .right-block .wrapper-p-text p {
        font-size: 22px;
        line-height: 40px;
    }

    .container .section3 .big-card .right-block .wrapper-card-time {
        width: 100%;
        transform: rotate(0deg);
        transform: translate(-120px, 0px);
        margin: 0;
    }

    .container .section3 .big-card .right-block .wrapper-card-time .card {
        transform: rotate(0deg);
    }

    .container .section3 .big-card img {
        width: 100%;
        height: 400px;
        position: relative;
        top: 0px;
    }

    .container .section4 {
        width: 100%;
        height: 1400px;
        padding: 0px;
        margin: 0;
    }

    .container .section4 h1 {
        box-shadow: 2px 2px 10px;
        text-align: center;
        border-radius: 0px 70px 0px 70px;
    }

    .container .section4 .immerse {
        display: none;
    }

    .container .section4 .card-wrappers4 {
        width: 100%;
        height: 1200px;
        padding: 0;
        padding: 0;
    }

    .container .section4 .card-wrappers4 .card123 {
        width: 100%;
        height: 350px;
        margin: 0;
    }

    .container .section4 .card-wrappers4 .card123 img {
        width: 50%;
        height: 300px;
        border-radius: 5px;
    }

    .container .section4 .card-wrappers4 .card123 .assistant span {
        display: none;
    }

.container .section5{
    width: 100%;
    height: 800px;
}
.container .section5 .sec5-h1{
    margin: 100px 0px 0px 0px;
    color: black;
    font-size: 45px;
}

.container .section5 .wrapper-text-bloock{
    width: 100%;
    height:600px;
    display: flex;
    flex-direction: column;
padding: 0px;
align-items: start;
}
.container .section5 .wrapper-text-bloock .block2{
margin-left: 75px;
}

.container .section5 .wrapper-text-bloock .text-block{
    width: 80%;
    height: 150px;
    text-align: center;
    display: inline-block;
    padding: 0;
}
.container .section5 .wrapper-text-bloock .text-block h1{
    margin: 0px;

}

.container footer{
    width: 100%;
    height: 350px;
    margin: 100px 0px 0px 0px;
}

.container footer .wrapper{
    width: 100%;
    height: 350px;
}
.container footer .wrapper .wrap123block{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    padding-top: 50px;
}
.container footer .wrapper .wrap123block .assistant{
    width: 30%;
    margin: 0;
}
.container footer .block4{
    display: none;
}

.container footer .block5 hr{
    width: 325px;
}


}

/* 
@media only screen and (max-width:992px) {
    .container {
        width: 100%;
        min-height: 100vh;
        position: relative;
        border: 2px solid red;
        overflow: scroll;
    }
section1 section1 section1 section1 */
/* section1 section1 section1 section1


    .container .section1 .navbar ul {
        display: none;
    }

    .container .section1 .wrapper {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 700px;
        background-image: linear-gradient(#C2EED3 95%, white);
    }

    .container .section1 .wrapper .main-section {
        width: 50%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        transform: translate(0px, 0px);
        justify-content: center;
    }

    .container .section1 .wrapper .main-section .wrappe-h1 {
        width: 100%;
        height: 120px;
    }

    .container .section1 .wrapper .main-section .wrappe-h1 h1 {
        margin: 0;
        transform: translate(0px, 0px);
    }

    .container .section1 .wrapper .main-section .wrapper-p {
        width: 100%;
        height: 130px;
        margin: 0;
        transform: translate(0px, 0px);
        font-size: 25px;
    }

    .container .section1 .wrapper .main-section .wrapper-p br {
        display: none;
    }

    .container .section1 .wrapper .girl {
        width: 50%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .section1 .wrapper .girl img {
        margin: 0px;
        transform: translate(0px, 0px);
        box-shadow: 4px 4px 20px;
    }

    section2 section2 section2 section2 section2 */
/* section2 section2 section2 section2 section2 */
/* section2 section2 section2 section2 section2

.container .section2{
    width: 100%;
    height: 1000px;
 border: solid black 3px;
 display: flex;
}

.container .section2 card-wrapper{
    width: 100%;
    height: 800px;
    border: red 3px solid;
    
}


} */